body {
    background-color: #DDDDDD;
}

.container {
    background-color: #BBBBBB;
    border: 5px solid black;
    border-radius: 10px;
    width: 640px;
    margin: auto;
    text-align: center;
}

#questions {
    display: none;
}

#questions h3 {
    margin-top: 25px;
}

#next, #previous {
    margin-top: 25px;
}

#start {
    position: relative;
    width: 250px;
    height: 100px;
    top: 100px;
}

#title {
    margin: 20 auto;
}

#footer {
    bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:35px;
    font-size: 1em;
    margin-left: 65px;
}

#jsis {
    margin: 0px;
    color: #0000FF;
}

/* Login Form Modal */
#overlay {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    background-color: rgba(69, 69, 69, .75);
}

#overlay form {
    position: relative;
    margin: auto;
    width: 300px;
    height: 175px;
    top: 40%;
    border: 2px solid black;
    background-color: #777777;
}

#usernameInput {
    margin-top: 30px;
}

#usernameInput label, #passwordInput label {
    margin-right: 20px;
}

#passwordInput {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #000;
    margin-right: 15px;
    margin-left: 15px;
}

#newUserLostPassword {
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    margin-right: 15px;
    margin-left: 15px;
}

#showLoginForm, #loggedInUser {
    position: relative;
    display: inline;
    float: right;
    top: 25px;
    left: -25px;
}

#loginButton {
    margin-top: 20px;
}

#finalScore {
    top: 50%;
    display: none;
}

#loggedInUser {
    display: none;
}

#loginArea {
    position: absolute;
    margin-left: 525px;
}

#logout {
    display: none;
    margin-top: 15px;
    margin-right: 50px;
}